<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{meta_title}}">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="description" content="{{meta_description}}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{meta_title}}">
<meta name="twitter:description" content="{{meta_description}}">

<meta name="facebook:card" content="summary">
<meta name="facebook:title" content="{{meta_title}}">
<meta name="facebook:description" content="{{meta_description}}">

<meta property="og:url" content="{{@blog.url}}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{meta_title}}">
<meta property="og:description" content="{{meta_description}}">
<meta property="og:site_name" content="{{@blog.title}}">

<meta itemprop="name" content="{{meta_title}}">
<meta itemprop="description" content="{{meta_description}}">


<link rel="icon" href="{{asset 'img/favicon.ico'}}">
<title>{{meta_title}}</title>
<!-- Bootstrap core CSS -->
<link href="{{asset 'css/bootstrap.min.css'}}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{asset 'css/mediumish.css'}}" rel="stylesheet">
</head>
{{ghost_head}}
<body>
{{{body}}}
{{ghost_foot}}

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{asset 'js/prism.js'}}"></script>
<script src="{{asset 'js/jquery.min.js'}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{{asset 'js/bootstrap.min.js'}}"></script>
<script src="{{asset 'js/ie10-viewport-bug-workaround.js'}}"></script>
</body>
</html>